# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\codigo\TecnoIF_IFMS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
